body, div, general{
    padding:0;
    margin:0;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

#theForm {
	background-color: blue;
	width: 345px;
	border: 3px black solid;
	margin: 10px auto;
	padding: 5px;
	height: 340px;
	border-radius: 10px;
	}

fieldset{
	height:320px;
    width:315px;
	}
	
#screen {
	margin-left:4cm;
    height: 40px;
    width: 295px;
    margin:auto;
    background-color:white;
    margin-bottom: 5px;
    text-align: right;
    font-size: 20px;
    padding: 0 5px;
}

input {
	margin-right: 0.3em;
    margin-bottom: 0.3em;
    width:100px;
	color:black;
    padding-right: 1em;
    border:2px solid #ddd;
	background:#fafafa;
	font:bold 1em arial, sans-serif;
	float:left;
}

#queue {
    height: 40px;
    width: 230px;
	margin-bottom:10px;
    background-color:white;
    margin-bottom: 5px;
    text-align: right;
    font-size: 20px;
    padding: 0 5px;
}
#quer{
	color:orange;
    margin: auto;
    text-align: center;
    font-size: 15px;
}

